# too large file
df_event_data_with_embeddings.pkl

# unrelated files
todo.md
RL-COVID-EVENTS.code-workspace
nohup.out
implementation_diary.md

# Python bytecode cache
__pycache__/
*.pyc
*.pyo

# logs
logs/
*.log

# on github, for a moment
EvaluationResults/
GeneratedGraphs/
CritddResults/
RL-COVID-Events.code-workspace
generate_images.ipynb
CRITDD_RESULTS/
PrecomputedKNNs
DataPreparation/UsageDatasets/
DatasetEventFeatures/
